<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Character</key>
	<array>
		<string>flash</string>
		<string>penguin</string>
		<string>clayface</string>
		<string>spiderman</string>
		<string>deadpool</string>
		<string>antman</string>
		<string>electro</string>
		<string>twoface</string>
		<string>wolverine</string>
		<string>batman</string>
		<string>hawkeye</string>
		<string>scarecrow</string>
		<string>poisonivy</string>
		<string>venom</string>
		<string>cyborg</string>
		<string>wonderwoman</string>
		<string>superman</string>
		<string>hulk</string>
		<string>joker</string>
		<string>bizarro</string>
		<string>aquaman</string>
		<string>batgirl</string>
		<string>greengoblin</string>
		<string>catwoman</string>
		<string>mrfreeze</string>
		<string>lexluthor</string>
		<string>thor</string>
		<string>robin</string>
		<string>ironman</string>
		<string>killercroc</string>
		<string>groot</string>
		<string>harleyquinn</string>
		<string>daredevil</string>
		<string>captainamerica</string>
		<string>greenarrow</string>
		<string>hawkman</string>
		<string>drdoom</string>
		<string>bane</string>
		<string>riddler</string>
	</array>
	<key>Bios</key>
	<array>
		<string>The Flash is the name of several fictional characters appearing in comic books published by DC Comics. Created by writer Gardner Fox and artist Harry Lampert, the original Flash first appeared in Flash Comics #1 (January 1940). Nicknamed the &apos;Scarlet Speedster&apos;, all incarnations of the Flash possess &apos;super speed&apos;, which includes the ability to run and move extremely fast, use superhuman reflexes, and seemingly violate certain laws of physics.</string>
		<string>The Penguin, real name Oswald Chesterfield Cobblepot, is a fictional supervillain appearing in American comic books published by DC Comics, commonly as an adversary of the superhero Batman. Artist Bob Kane and writer Bill Finger introduced the character in Detective Comics #58 (December 1941).</string>
		<string>Basil Karlo, the original Clayface, was an actor who was driven mad when he heard of a re-make of the classic horror film he had starred in, The Terror. Adopting the persona of the film&apos;s villain &apos;Clayface&apos;, he became a serial killer targeting the cast and crew. He was eventually stopped by Batman and Robin.</string>
		<string>Spider-Man is a fictional superhero appearing in American comic books published by Marvel Comics. The character was created by writer-editor Stan Lee and writer-artist Steve Ditko, and first appeared in the anthology comic book Amazing Fantasy #15 (Aug. 1962) in the Silver Age of Comic Books. Lee and Ditko conceived the character as an orphan being raised by his Aunt May and Uncle Ben, and as a teenager, having to deal with the normal struggles of adolescence in addition to those of a costumed crime-fighter. Spider-Man&apos;s creators gave him super strength and agility, the ability to cling to most surfaces, shoot spider-webs using wrist-mounted devices of his own invention, which he calls &apos;web-shooters&apos;, and react to danger quickly with his &apos;spider-sense&apos;, enabling him to combat his foes.</string>
		<string>Deadpool (real name Wade Winston Wilson) is a fictional antihero appearing in American comic books published by Marvel Comics. Created by artist/writer Rob Liefeld and writer Fabian Nicieza, the character first appeared in The New Mutants #98 (cover-dated February 1991). Initially Deadpool was depicted as a mercenary when he made his first appearance in The New Mutants and later in issues of X-Force, but later evolved into his more recognizable antiheroic persona. Deadpool is a disfigured and mentally unstable mercenary with the superhuman ability of an accelerated healing factor and physical prowess. He is known as the &apos;Merc with a Mouth&apos; because of his talkative nature and tendency to break the fourth wall, which is used by writers for humorous effect and running gags.</string>
		<string>Ant-Man is the name of several fictional superheroes appearing in books published by Marvel Comics. Created by Stan Lee, Larry Lieber and Jack Kirby, Ant-Man&apos;s first appearance was in Tales to Astonish #27 (January 1962). The persona was originally the superhero alias of the brilliant scientist Hank Pym after inventing a substance that allowed him to change size; however, Scott Lang and Eric O&apos;Grady have also taken on the Ant-Man mantle.</string>
		<string>Electro is the name of two fictional supervillains appearing in American comic books published by Marvel Comics. Maxwell Dillon, the first Electro, is an enemy of Spider-Man who gained the ability to control electricity after being struck by lightning while working on a power line. Electro has since become one of Spider-Man&apos;s most enduring foes becoming part of the collective rogue team known as The Sinister Six.</string>
		<string>Two-Face (Harvey Dent) is a fictional supervillain appearing in American comic books published by DC Comics, commonly as an adversary of the superhero Batman. The character was created by Bill Finger and Bob Kane and first appeared in Detective Comics #66 (Aug. 1942).

</string>
		<string>Wolverine (born James Howlett and commonly known as Logan) is a fictional character appearing in American comic books published by Marvel Comics, mostly associated with the X-Men. Wolverine is a mutant who possesses animal-keen senses, enhanced physical capabilities, and powerful regenerative ability known as a healing factor. He has been depicted variously as a member of the X-Men, Alpha Flight, and the Avengers.</string>
		<string>Batman is a fictional superhero appearing in American comic books published by DC Comics. The character was created by artist Bob Kane and writer Bill Finger, and first appeared in Detective Comics #27 (May 1939). Originally named the &quot;Bat-Man&quot;, the character is also referred to by such epithets as the Caped Crusader, the Dark Knight, and the World&apos;s Greatest Detective.[</string>
		<string>Hawkeye (Clint Barton) is a fictional superhero appearing in American comic books published by Marvel Comics. Created by writer Stan Lee and artist Don Heck, the character first appeared as a villain in Tales of Suspense #57 (Sept. 1964) and later joined the Avengers in The Avengers #16 (May 1965). He has been a prominent member of the team ever since. He was also ranked at #44 on IGN&apos;s Top 100 Comic Book Heroes list</string>
		<string>The Scarecrow (real name Dr. Jonathan Crane) is a fictional supervillain appearing in American comic books published by DC Comics, commonly as an adversary of the superhero Batman. The character first appeared in World&apos;s Finest Comics #3 (cover-dated Sept. 1941) and was created by Bob Kane and Bill Finger. A professor of psychology and psychiatry, he uses a variety of fear-enhancing drugs, toxins, and psychological warfare tactics to exploit the fears and phobias of his adversaries.</string>
		<string>Poison Ivy (Pamela Lillian Isley) is a fictional supervillainess appearing in American comic books published by DC Comics, commonly as an adversary of the superhero Batman. Created by Robert Kanigher and Sheldon Moldoff, the character made her first appearance in Batman #181 (June 1966).</string>
		<string>Venom, or the Venom Symbiote, is an alias used by several fictional characters appearing in American comic books published by Marvel Comics, commonly in association with Spider-Man. Venom made his first appearance in The Amazing Spider-Man #300 (May 1988). Venom was originally conceived as a supervillain, but has since become more of an antihero. Venom is a Symbiote, a sentient alien, with a gooey, almost liquid-like form. As with real-world symbiotes, it requires a host, usually human, to bond with for its survival. After bonding, the Symbiote endows its enhanced powers upon the host. When the Venom Symbiote bonds with a human, that new dual-life form refers to itself as &quot;Venom&quot;.</string>
		<string>Cyborg is a fictional superhero appearing in American comic books published by DC Comics. The character was created by writer Marv Wolfman and artist George Pérez and first appears in a special insert in DC Comics Presents #26 (October 1980). Cyborg is best known as a member of the Teen Titans. However, in September 2011, Cyborg was established as a founding member of the Justice League as part of DC&apos;s 2011 reboot of its continuity.</string>
		<string>Wonder Woman is a fictional superhero appearing in American comic books published by DC Comics. The character is a founding member of the Justice League, demigoddess, and warrior princess of the Amazons, which are based on the Amazons of Greek mythology. In her homeland, she is Princess Diana of Themyscira, and outside of her homeland, she is known by her secret identity Diana Prince.</string>
		<string>Superman is a fictional superhero appearing in American comic books published by DC Comics. The character was created by writer Jerry Siegel and artist Joe Shuster, high school students living in Cleveland, Ohio, in 1933. They sold Superman to Detective Comics, the future DC Comics, in 1938. Superman debuted in Action Comics #1 (cover-dated June 1938) and subsequently appeared in various radio serials, newspaper strips, television programs, films, and video games. With this success, Superman helped to create the superhero archetype and establish its primacy within the American comic book. The character is also referred to by such epithets as the Man of Steel, the Man of Tomorrow, and The Last Son of Krypton.</string>
		<string>The Hulk is a fictional superhero created by writer Stan Lee and artist Jack Kirby, who first appeared in the debut issue of the comic book The Incredible Hulk in May 1962 published by Marvel Comics. In his comic book appearances, the character is both the Hulk, a green-skinned, hulking and muscular humanoid possessing a vast degree of physical strength, and his alter ego Bruce Banner, a physically weak, socially withdrawn, and emotionally reserved physicist, the two existing as personalities independent and resenting of the other.</string>
		<string>The Joker is a fictional supervillain created by Bill Finger, Bob Kane, and Jerry Robinson who first appeared in the debut issue of the comic book Batman (April 25, 1940) published by DC Comics. Credit for the Joker&apos;s creation is disputed; Kane and Robinson claimed responsibility for the Joker&apos;s design, while acknowledging Finger&apos;s writing contribution. Although the Joker was planned to be killed off during his initial appearance, he was spared by editorial intervention, allowing the character to endure as the archenemy of the superhero Batman.</string>
		<string>Bizarro is a fictional character appearing in American comic books published by DC Comics. The character was created by writer Otto Binder and artist George Papp as a &quot;mirror image&quot; of Superman and first appeared in Superboy #68 (1958). Debuting in the Silver Age of Comic Books (1956 - 1970), the character has often been portrayed as an antagonist to Superman, though on occasion he also takes on an anti-hero role, and appeared in both comic books and graphic novels.</string>
		<string>Aquaman is a fictional superhero appearing in American comic books published by DC Comics. Created by Paul Norris and Mort Weisinger, the character debuted in More Fun Comics #73 (November 1941). nitially a backup feature in DC&apos;s anthology titles, Aquaman later starred in several volumes of a solo title. During the late 1950s and 1960s superhero-revival period known as the Silver Age, he was a founding member of the Justice League of America. In the 1990s Modern Age, Aquaman&apos;s character became more serious than in most previous interpretations, with storylines depicting the weight of his role as king of Atlantis.</string>
		<string>Batgirl is the name of several fictional superheroes appearing in American comic books published by DC Comics, depicted as female counterparts to the superhero Batman. Although the character Betty Kane was introduced into publication in 1961 by Bill Finger and Sheldon Moldoff as Bat-Girl, she was replaced by Barbara Gordon in 1967, who later came to be identified as the iconic Batgirl. Depicted as the daughter of Gotham City police commissioner James Gordon, she debuted in Detective Comics #359, titled &quot;The Million Dollar Debut of Batgirl!&quot; (1967) by writer Gardner Fox and artist Carmine Infantino. As Batgirl, the character operates primarily in Gotham City, allying herself with Batman and the original Robin, Dick Grayson, as well as other prominent heroes in the DC Universe.</string>
		<string>The Green Goblin is the alias of several fictional supervillains appearing in American comic books published by Marvel Comics, mostly those starring Spider-Man. The first and most well known incarnation is Norman Osborn, who was created by Stan Lee and Steve Ditko in The Amazing Spider-Man #14. The Green Goblin is a Halloween-themed supervillain whose weapons resemble bats, ghosts and jack-o&apos;-lanterns. Comics journalist and historian Mike Conroy writes of the character: &quot;Of all the costumed villains who&apos;ve plagued Spider-Man over the years, the most flat-out unhinged and terrifying of them all is the Green Goblin.&quot;</string>
		<string>Catwoman (Selina Kyle) is a fictional character appearing in American comic books published by DC Comics, commonly in association with the superhero Batman. The character was created by Bob Kane and Bill Finger, and she made her debut in Batman #1 (Spring 1940), in which she is known as &quot;the Cat&quot;. Catwoman has traditionally been portrayed as a supervillain and adversary of Batman, but since the 1990s, she has been featured in an eponymous series that depicts her as an antiheroine rather than a traditional villain. Catwoman is known for having a complex love-hate relationship with Batman and has been Batman&apos;s most enduring love interest.</string>
		<string>Mr. Freeze, real name Victor Fries, is a fictional supervillain appearing in American comic books published by DC Comics, commonly as an adversary of the superhero Batman. Created by Bob Kane, David Wood and Sheldon Moldoff, the character first appeared in Batman #121 (February 1959), where he was known as Mr. Zero.</string>
		<string>Alexander &quot;Lex&quot; Luthor is a fictional supervillain appearing in American comic books published by DC Comics. Created by Jerry Siegel and Joe Shuster, Lex Luthor first appeared in Action Comics #23 (April 1940) and has since endured as the archenemy of Superman.</string>
		<string>Thor is a fictional superhero appearing in American comic books published by Marvel Comics. The character, based on the Norse mythological deity of the same name, is the Asgardian god of thunder and possesses the enchanted hammer Mjolnir, which grants him the ability of flight and weather manipulation amongst his other superhuman attributes.</string>
		<string>Robin is the name of several fictional superheroes appearing in American comic books published by DC Comics. The character was originally created by Bob Kane, Bill Finger, and Jerry Robinson, to serve as a junior counterpart to superhero Batman. The team of Batman and Robin is commonly referred to as the Dynamic Duo or the Caped Crusaders. The character&apos;s first incarnation, Dick Grayson, debuted in Detective Comics #38 (April 1940). Conceived as a vehicle to attract young readership, Robin garnered overwhelmingly positive critical reception, doubling the sales of the Batman related comic books.</string>
		<string>Iron Man (Tony Stark) is a fictional superhero appearing in American comic books published by Marvel Comics, as well as its associated media. The character was created by writer and editor Stan Lee, developed by scripter Larry Lieber, and designed by artists Don Heck and Jack Kirby. He made his first appearance in Tales of Suspense #39 (cover dated March 1963). An American billionaire playboy, business magnate, and ingenious engineer, Tony Stark suffers a severe chest injury during a kidnapping in which his captors attempt to force him to build a weapon of mass destruction. He instead creates a powered suit of armor to save his life and escape captivity.</string>
		<string>Killer Croc is a fictional supervillain appearing in American comic books published by DC Comics, commonly as an adversary of the superhero Batman. The character was created by writer Gerry Conway and by artist Gene Colan. The character&apos;s first appearance was a shadowy cameo in Detective Comics #523 (February 1983) and Batman #357 (March 1983) then his full appearance in Batman #358 (April 1983).</string>
		<string>Groot is a fictional superhero appearing in American comic books published by Marvel Comics. Created by Stan Lee, Jack Kirby, and Dick Ayers, the character first appeared in Tales to Astonish #13 (November 1960). An extraterrestrial, sentient tree-like creature, Groot originally appeared as an invader that intended to capture humans for experimentation.</string>
		<string>Harley Quinn (Harleen Frances Quinzel) is a fictional supervillain appearing in American comic books published by DC Comics. The character was created by Paul Dini and Bruce Timm, and first appeared in Batman: The Animated Series in September 1992. She later appeared in DC Comics&apos; Batman comic books, with her first comic book appearance in The Batman Adventures #12 (Sept. 1993).</string>
		<string>Daredevil is a fictional superhero appearing in American comic books published by Marvel Comics. Daredevil was created by writer-editor Stan Lee and artist Bill Everett, with an unspecified amount of input from Jack Kirby. The character first appeared in Daredevil #1 (April 1964). Daredevil&apos;s origin story relates that while living in the Hell&apos;s Kitchen neighborhood of New York City, Matt Murdock is blinded by a radioactive substance that falls from an oncoming vehicle while pushing a man to safety from the oncoming truck. While he no longer can see, the radioactive exposure heightens his remaining senses beyond normal human ability and gives him a &quot;radar sense&quot;.</string>
		<string>Captain America is a fictional superhero appearing in American comic books published by Marvel Comics. Created by cartoonists Joe Simon and Jack Kirby, the character first appeared in Captain America Comics #1 (cover dated March 1941) from Timely Comics, a predecessor of Marvel Comics. Captain America was designed as a patriotic supersoldier who often fought the Axis powers of World War II and was Timely Comics&apos; most popular character during the wartime period. The popularity of superheroes waned following the war and the Captain America comic book was discontinued in 1950, with a short-lived revival in 1953. Since Marvel Comics revived the character in 1964, Captain America has remained in publication.</string>
		<string>Green Arrow is a fictional superhero who appears in comic books published by DC Comics. Created by Mortimer Weisinger and designed by George Papp, he first appeared in More Fun Comics #73 in November 1941. His real name is Oliver Queen, a billionaire businessman and owner of Queen Industries, also a well-known celebrity in his locale of Star City. Sometimes shown dressed like Robin Hood, Green Arrow is an archer who uses his skills to fight crime in his home cities of Star City and Seattle, as well as alongside his fellow superheroes as a member of the Justice League. Though much less frequently used in modern stories, he also deploys a range of trick arrows with various special functions, such as glue, explosive-tipped, grappling hook, flash grenade, tear gas and even kryptonite arrows for use in a range of special situations.</string>
		<string>Hawkman is a fictional superhero who appears in American comic books published by DC Comics. Created by writer Gardner Fox and artist Dennis Neville, the original Hawkman first appeared in Flash Comics #1, published by All-American Publications in 1940. Several incarnations of Hawkman have appeared in DC Comics, all of them characterized by the use of archaic weaponry and by large, artificial wings, attached to a harness made from the special Nth metal that allows flight.</string>
		<string>Doctor Victor Von Doom, better known as Doctor Doom, is a fictional supervillain appearing in American comic books published by Marvel Comics. The son of Romani witch Cynthia Von Doom, Doctor Doom is the archenemy of the Fantastic Four, and the leader of the fictional nation of Latveria. He is both a genius inventor and a sorcerer. While his chief opponents have been the Fantastic Four, he has also come into conflict with Spider-Man, the Avengers and other superheroes in the Marvel Universe.</string>
		<string>Bane is a fictional supervillain appearing in American comic books published by DC Comics, commonly as an adversary of the superhero Batman. The character&apos;s origin was in Batman: Vengeance of Bane #1 (January 1993), and was created by Chuck Dixon, Doug Moench, and Graham Nolan.

Known for his mix of brute strength and exceptional intelligence, the character is often credited as being the only villain to have &quot;Broken the Bat&quot;.</string>
		<string>The Riddler (Edward Nigma) is a fictional supervillain appearing in American comic books published by DC Comics, commonly as an adversary of the superhero Batman. Created by writer Bill Finger and artist Dick Sprang, the character first appeared in Detective Comics #140 (Oct. 1948). The Riddler takes delight in incorporating riddles and puzzles into his criminal plots, often leaving them as clues for the authorities and Batman to solve. </string>
	</array>
</dict>
</plist>
